body{
  background-color: #eee;
}


.nav a{
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li{
  display: inline;
}

.nav{
  padding-top: 20px;
  padding-bottom: 14px;
  background-color: #5C82B2;
}

.jumbotron{
  height: 400px;
  background-image:url('img/clouds.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  font-family: 'Roboto';
  font-size: 22px;
}


.more-info .container{
  padding-top: 10px;
  padding-bottom: 40px;
}

.graphic-1{
  padding: 40px;
  background-color: white;
}

.graphic-2{
  padding: 40px;

}

.graphic-3{
  padding: 40px;
  background-color: white;
}
