body{
  background-color: #eee;
}


.navbar a{
  font-family: Trebuchet MS;
  color: #0E233E;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li{
  display: inline;
}

.navbar{
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: white;
  margin: 0;
}

.jumbotron{
  background-size: 300px;
  background-image:url('img/clouds.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  font-family: 'Arial';
  font-size: 22px;
}

h2{
  font-family: 'Arial';
}


.more-info .container{
  padding-top: 10px;
  padding-bottom: 40px;
}

.graphic-1{
  padding: 40px;
  background-color: white;
}

.graphic-2{
  padding: 40px;
  background-color: white;

}

.graphic-3{
  padding: 40px;
}

.couches{
  padding:80px;

}
