body{
  background-color: #eee;
}

.nav a{
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li{
  display: inline;
}

.nav{
  padding-top: 20px;
  padding-bottom: 14px;
  background-color: #2E6D5D;
}

.jumbotron{
  height: 400px;
  background-color: #0E233E;
}
